In [1]:
import pandas as pd
import numpy as np

In [2]:
invalid_values = ['..']
excel_file = pd.read_excel('data.xlsx', sheet_name='production', na_values=invalid_values)

In [3]:
df = pd.DataFrame(excel_file)
len(df)

36599

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36599 entries, 0 to 36598
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity        36599 non-null  object
 1   Area Type        36599 non-null  object
 2   Area             36599 non-null  object
 3   Year             36599 non-null  int64
 4   Production (mt)  32141 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.4+ MB

In [5]:
df.columns = ['commodity','area_type','area','year','production']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36599 entries, 0 to 36598
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   commodity   36599 non-null  object
 1   area_type   36599 non-null  object
 2   area        36599 non-null  object
 3   year        36599 non-null  int64
 4   production  32141 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.4+ MB

In [6]:
df['production'].astype('float')

0         59418.00
1         63990.83
2         62684.00
3         59516.83
4         66410.00
           ...
36594    165462.00
36595    165578.00
36596    150614.00
36597    142064.00
36598    141541.00
Name: production, Length: 36599, dtype: float64

In [7]:
df = df[(df['area_type']=='Provincial') & (df['commodity']=='Abaca')]
df['area'] = df.area.str.replace('\..', '')
len(df)

1397

In [8]:
df.sample(10)

     commodity   area_type               area  year  production
1706     Abaca  Provincial      Lanao del Sur  2002     1205.50
542      Abaca  Provincial             Iloilo  2005      295.04
1192     Abaca  Provincial   Misamis Oriental  2007       74.33
842      Abaca  Provincial              Samar  1994     5672.00
530      Abaca  Provincial             Iloilo  1993      244.00
520      Abaca  Provincial              Capiz  2012       19.80
371      Abaca  Provincial        Catanduanes  1998    13325.00
857      Abaca  Provincial              Samar  2009     1729.00
1238     Abaca  Provincial  Compostela Valley  2004      360.17
1115     Abaca  Provincial           Camiguin  2017       19.02

In [10]:
df['area'] = df['area'].astype('category')
df['area_cat'] = df['area'].cat.codes
df.sample(10)

     commodity   area_type               area  year  production  area_cat
80       Abaca  Provincial             Aurora  1996       26.00         5
1263     Abaca  Provincial    Davao del Norte  2000      205.54        21
357      Abaca  Provincial      Camarines Sur  2013      911.91        11
523      Abaca  Provincial              Capiz  2015       93.05        13
1595     Abaca  Provincial  Surigao del Norte  1998      180.00        49
1433     Abaca  Provincial          Sarangani  2003      552.34        43
45       Abaca  Provincial  Mountain Province  2011       13.08        33
779      Abaca  Provincial      Eastern Samar  2018       18.10        23
223      Abaca  Provincial   Oriental Mindoro  2012       72.65        37
1704     Abaca  Provincial      Lanao del Sur  2000      992.07        27