In [1]:
# !pip install selenium
# !pip install bs4
# from selenium import webdriver
# from bs4 import BeautifulSoup
# !pip install requests
# !pip install lxml
from bs4 import BeautifulSoup
import pandas as pd
import requests
from lxml import html
import pprint

pp = pprint.PrettyPrinter(depth=6)

In [2]:
# create a session object
session = requests.session()

In [3]:
# login
login_url = 'https://www.basebrick.com/login.php'
# check payload submitted
payload = {
    'action': 'login',
    'email': 'mlab817@gmail.com',
    'password': 'marklester'
}
# do the request
result = session.post(login_url, data=payload)

In [4]:
URL = 'https://www.basebrick.com/listdata.php?userid=9582'
# use session while fetching
page = session.get(URL)

In [5]:
# check successful login
# print(page.content)
soup = BeautifulSoup(page.content, 'html.parser')

In [6]:
table = soup.find('table', { 'class': 'datatable' })

In [7]:
for tr in table.find_all('tr')[:2]:
    tds = tr.find_all('td')
    pp.pprint(tds)

[<td align="RIGHT" class="tablehead_my"># </td>,
 <td class="tableheadvali_my"> </td>,
 <td class="tablehead_my"><a class="tblhead" href="listdata.php?userid=9582&amp;page=0&amp;order=category&amp;desc=1" title="Order by Category">Part Category</a> </td>,
 <td class="tablehead_my"><a class="tblhead" href="listdata.php?userid=9582&amp;page=0&amp;order=partnumber" title="Order by Part number">Part No</a> </td>,
 <td class="tableheadvali_my"> </td>,
 <td class="tablehead_my"><a class="tblhead" href="listdata.php?userid=9582&amp;page=0&amp;order=description" title="Order by Description">Description</a> </td>,
 <td align="center" class="tablehead_my"> Img </td>,
 <td class="tablehead_my"> <a class="tblhead" href="listdata.php?userid=9582&amp;page=0&amp;order=quantity" title="Order by Quantity">Q</a> <a class="tblhead" href="listdata.php?userid=9582&amp;page=0&amp;order=colorsort" title="Order by Color">C</a> <a class="tblhead" href="listdata.php?userid=9582&amp;page=0&amp;order=status" title="Order by Status">S</a> <a class="tblhead" href="listdata.php?userid=9582&amp;page=0&amp;order=updated&amp;desc=1" title="Order by Update time">U</a> <a class="tblhead" href="listdata.php?userid=9582&amp;page=0&amp;order=inserted&amp;desc=1" title="Order by Insertion time">I</a> </td>,
 <td align="center" class="tablehead_my"> <font class="highlighttext" title="Parts available">Av</font> </td>,
 <td align="center" class="tablehead_my"> Action </td>,
 <td class="tablehead_my"> <input "="" class="" form="cbox" name="checkall" onclick="checkedAll();" type="checkbox"/> </td>,
 <td class="tablehead_my"> My notes </td>,
 <td align="left" class="tablehead_my"> Links </td>]
[<td class="tablecell0" colspan="13"><a name="96874-4"></a><img alt="" border="0" src="images/blank.gif"/></td>]