In [3]:
import os
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt

In [4]:
csv_data = pd.read_csv('interventions.csv')
df = pd.DataFrame(csv_data)
df.head()

,id,intervention_type,intervention,intervention_others,intervention_details,multi_year,target_1,target_2,target_3,target_4,...,operating_unit_id,spatial_coverage_id,region_id,province_id,commodity_group_id,commodity_id,value_chain_segment_id,program_id,subprogram_id,unit_id
0,1,Others,Stregthen/Conduct of Poultry Production and He...,NaN,No. of training conducted,0,0.0,0.0,1.0,0.0,...,21,2,7,32,5,76,0,5,43,184
1,2,Others,Training on Integrated Farming,NaN,No. of integrated farming conducted,0,0.0,0.0,1.0,0.0,...,21,2,7,32,5,56,0,5,43,184
2,3,Others,Development of multiplier farms to increase th...,NaN,No of multiplier farms developed,0,0.0,0.0,1.0,0.0,...,21,2,7,29,4,369,7,11,43,184
3,4,Others,Dispersal of Native Chicken,NaN,No. of native chicken dispersed,0,0.0,0.0,2500.0,0.0,...,21,2,7,32,5,76,7,11,43,184
4,5,Others,Provision of certified rice seeds,NaN,No of certified rice seeds provided,0,0.0,0.0,333.0,0.0,...,21,2,7,31,7,284,1,11,43,169

In [19]:
grouped_data = df.groupby(['region_id'])['investment_total'].sum()
grouped_data_keys = grouped_data.tolist('keys')
grouped_data_values = grouped_data.values.tolist()
print(grouped_data)
# print(type(grouped_data))
plt.bar(grouped_data[1], grouped_data[0])

NameError: name 'keys' is not defined